.field {
    &.is-floating-label, &.is-floating-in-label {
        &.has-numberinput {
            .label {
                margin-left: calc(#{$size-normal});
            }
            
            &.has-numberinput-is-small {
                .label {
                    margin-left: calc(#{$size-small});
                }
            }
            
            &.has-numberinput-is-medium {
                .label {
                    margin-left: calc(#{$size-medium});
                }
            }
            
            &.has-numberinput-is-large {
                .label {
                    margin-left: calc(#{$size-large});
                }
            }
        }
        
        &.has-numberinput-compact {
            .label {
                margin-left: calc(#{$size-normal});
            }
            
            &.has-numberinput-is-small {
                .label {
                    margin-left: calc(#{$size-small});
                }
            }
            
            &.has-numberinput-is-medium {
                .label {
                    margin-left: calc(#{$size-medium});
                }
            }
            
            &.has-numberinput-is-large {
                .label {
                    margin-left: calc(#{$size-large});
                }
            }
        }
    }
}
