html {
    font-size: 14px;
    -webkit-overflow-scrolling: auto;
}

body, button, input, select, textarea {
    font-size: 14px;
    font-variant: small-caps;
    -webkit-overflow-scrolling: auto;
}

#app {
    margin: 50px auto;
    width: 1280px;
    max-width: 95vw;
}

.field.is-floating-label .label:before {
    display: none;
}

.button {
    text-transform: capitalize;
}
