@import "./variables";

.is-vcentered {
    vertical-align: middle
}

.card {
    overflow: unset;
}

.select {
    select {
        option {
            color: $input-color;
        }
    }
}

.control {
    &.has-icons-left,
    &.has-icons-right {
        .select select {
            padding-left: 2.5em;
        }
        .icon {
            margin: 0 4px;
        }
    }


}

.b-table {
    thead tr:first-child th {
        position: sticky;
        top: 0;
        z-index: 10;

        background: $card-background-color;
    }

    .checkbox-cell {
        .b-checkbox.checkbox {
            margin: 0;

            .control-label {
                display: none;
            }
        }
    }
}
