@import "~bulma/sass/utilities/initial-variables";
@import "~bulmaswatch/cyborg/variables";

$scheme-main: $black;
$scheme-invert: $white;

$grey-accent:  hsl(0, 0%, 14%);
$grey-darker:  hsl(0, 0%, 21%);
$grey-dark:    hsl(0, 0%, 29%);
$grey:         hsl(0, 0%, 48%);
$grey-light:   hsl(0, 0%, 71%);
$grey-lighter: hsl(0, 0%, 86%);

$primary: #2A9FD6 !default;
$primary-light: lighten($primary, 10);
$link: #3273E2;

$white: #fff;
$white-ter:    #f5f5f5;

$body-background-color: #000;
$background: $grey-darker;
$footer-background-color: $background;

$border: $grey-dark;

$title-color: $white;
$subtitle-color: $white-ter;
$subtitle-strong-color: $white-ter;

$text: $white;
$text-light: lighten($text, 10);
$text-strong: darken($text, 5);

$box-color: $text;
$box-background-color: $grey-accent;
$box-shadow: none;

$link-hover: $primary-light;
$link-focus: $primary-light;
$link-active: $primary-light;
$link-hover-border: $grey-dark;
$link-active-border: $grey;

$control-height: 2.0em;

$button-color: $text;
$button-background-color: #111;
$button-border-color: $grey-darker;
$button-hover-color: $grey-lighter;
$button-focus: $grey-light;
$button-active-color: $grey-light;
$button-border-width: 1px;
$button-padding-vertical: calc(0.25em - #{$button-border-width});
$button-padding-horizontal: 1.0em;

$table-color: $text;
$table-head: $grey-lighter;
$table-background-color: $grey-darker;
$table-cell-border: 1px solid $grey-dark;

$table-row-hover-background-color: $grey-dark;
$table-striped-row-even-background-color: $grey-dark;
$table-striped-row-even-hover-background-color: lighten($grey-dark, 4);

$pagination-border-color: $grey-darker;
$pagination-disabled: $grey-light;
$pagination-disabled-background-color: $grey-dark;

$dropdown-content-background-color: $background;
$dropdown-item-color: $text;

$navbar-background-color: $body-background-color;
$navbar-item-color: $white;
$navbar-item-hover-color: $white;
$navbar-item-hover-background-color: rgba($white, 0.12);
$navbar-item-active-color: $link;
$navbar-item-active-background-color: $navbar-item-hover-background-color;

$navbar-dropdown-background-color: $body-background-color;
$navbar-dropdown-item-hover-color: $white;
$navbar-dropdown-item-hover-background-color: $navbar-item-hover-background-color;
$navbar-dropdown-item-active-background-color: $navbar-item-hover-background-color;
$navbar-dropdown-arrow: $white;

$tabs-boxed-link-active-background-color: $body-background-color;

$card-background-color: $grey-darker;
$card-header-padding: 0.5rem 1rem;
$card-content-padding: 1rem;

// Typography
$family-sans-serif: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-monospace: "Lucida Console", Monaco, monospace;
$render-mode: optimizeLegibility;

$size-1: 3.00rem;
$size-2: 2.50rem;
$size-3: 2.00rem;
$size-4: 1.50rem;
$size-5: 1.25rem;
$size-6: 1.00rem;
$size-7: 0.75rem;

$weight-light: 300;
$weight-normal: 400;
$weight-medium: 500;
$weight-semibold: 600;
$weight-bold: 700;

$column-gap: 0.5rem;

$modal-background-background-color: rgba($scheme-invert, 0.3);

